  <div class="party">
    <div class="col-left">
      <div class="party-info">
  	    <div class="party-size">{{size}}</div>
  	    <div class="name">{{name}}</div>
  	    <div class="time time-taken"><span>Time Taken:</span> {{hourMinute time_taken}}</div>
  	    <div class="time time-promised"><span>Time Promised:</span> {{hourMinute time_promised}}</div>
  	  </div><!-- .party-info -->
    </div><!-- .half.left -->
    <div class="buttons">
  	  <div {{action 'cancel' this target="view" }} class="button cancel">Cancel</div>
  	  <div {{action 'seat' this target="view" }} class="button seat">Seat</div>
      {{#if notified}}
    	  <div {{action 'recall' this target="view"}} {{bindAttr class=":button :notify :notified overdue"}}>
    	    {{#if overdue}}
    	      <span class="label">OVERDUE</span> 
    	    {{else}}
    	      <span class="label">Notified</span> 
    	    {{/if}}
    	    <span class="countdown">{{minuteSecond countdown}}</span>
    	  </div>
      {{else}}
    	  <div {{action 'notify' this target="view" }} class="button notify">
    	    {{#if notifying}}
    	      Notifying...
    	    {{else}}
    	      Notify 
    	    {{/if}}
    	    <span class="phone">{{formatPhone phone_number}}</span>
    	  </div>
      {{/if}}
    </div><!-- .buttons -->
    <div class="clear"></div>
  </div><!-- .party -->

