  <div class="party">
    <div class="col-left">
      <div class="party-info">
  	    <div class="party-size">{{size}}</div>
  	    <div class="name">{{name}}</div>
  	    <div class="time-taken"><span>Time Taken:</span> {{hourMinute time_taken}}</div>
  	    <div class="time-promised"><span>Time Promised:</span> {{hourMinute time_promised}}</div>
  	  </div><!-- .party-info -->
    </div><!-- .half.left -->
    <div class="buttons col-right">
      {{#if notified}}
    	  <div {{action 'recall' this target="view"}} class="button notify notified"><span class="label">Notified</span> <span class="countdown">{{minuteSecond countdown}}</span></div>
      {{else}}
    	  <div {{action 'notify' this target="view" }} class="button notify">Notify <span class="phone">{{formatPhone phone_number}}</span></div>
      {{/if}}
  	  <div {{action 'seat' this target="view" }} class="button seat">Seat</div>
  	  <div {{action 'cancel' this target="view" }} class="button cancel">Cancel</div>
    </div><!-- .buttons -->
    <div class="clear"></div>
  </div><!-- .party -->

